 <div class="control-group">
   <%= f.label :total_working_days, :class => 'control-label' %>
   <div class="controls">
    <%= f.input :total_working_days %>
   </div>
 </div>
  <div class="control-group">
   <%= f.label :working_days, :class => 'control-label' %>
   <div class="controls">
    <%= f.input :working_days %>
   </div>
 </div>