<div class="clear"></div>
<br/>
<div class="bootstrap">
<div class="control-group row-fluid form-inline">
  <div class="controls">
    <label>Select PaySlip For Month </label>
    <select name="payslip_month" id="payslip_month">
      <option> Select Month&Year</option>
    <% current_user.payrolls.each do |pr| %>
    <option value="<%= pr.id %>"> <%= pr.payroll_month_year %></option>
    <% end %>
    </select>
  </div>
</div>
<div id="payslip_div">
<% if @payroll.present? %>
  <%= render "payroll", :payroll => @payroll%>
<% end %>
</div>
</div>
<script>
  if @payroll.present? 
    $("#payslip_month").val(@payroll.payroll_month_year)
  end
  $("#payslip_month").change(function(){ 
      $.ajax({
    type : 'get',
    url : "/payrolls/"+ $(this).val()+".js" ,
    dataType : 'script'

  });
    });
</script>