<div class="bootstrap">
  <h1>Manage Leaves</h1>
  <div class="float_r">
   <%= link_to 'Apply Leave', new_leafe_path,:class => 'btn btn-info',:rel => "tooltip", :title => "Apply For Leave" %>
  </div>
  <ul class="nav nav-tabs">
     <li class="active bold"><a href="<%= leaves_path %>" >Leaves Applied</a></li>
     <% if current_user.is_admin? or current_user.is_manager? %>
      <li class="bold"><a href="<%= leave_to_approve_leaves_path %>" >Leaves To Approve</a></li>
     <% end %>
  </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="basic">
        <%= render 'leaves_applied' %>
      </div>
    </div>
</div>  

