<div class="bootstrap">
  <h1>Manage Leaves</h1>
  <div class="float_r">
   <%= link_to 'Apply Leave', new_leafe_path,:class => 'btn btn-info',:rel => "tooltip", :title => "Apply For Leave" %>
  </div>
  <ul class="nav nav-tabs">
    <li class="bold"><a href="<%= leaves_path %>" >Leaves Applied</a></li>
    <li class="active bold"><a href="<%= leave_to_approve_leaves_path %>" >Leaves To Approve</a></li>
  </ul>
  <div class="tab-content">
    <%= render 'leaves_to_approve' %>
  </div>
</div>          