<%= form_for(@leave) do |f| %>
<fieledset>
   <legend> Apply For Leave </legend>
    <div class="bootstrap">
       <%= render 'form', :f => f %>
    </div>
    <div class ="bottom_line_wb">
      <%=  submit_tag "save" %>
    </div>
</fieledset>
<% end %>