<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Total Days</th>
    <th>Days Logged</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
 <% time_sheets.each do |t| %>
  <tr id="ts_row_<%= t.id %>" class="tr_row <%= t.status %>">
    <%= render "time_sheet_row", :t => t %>
  </tr>
 <% end %>
</tbody>
</table>