<table class="table table-striped table-bordered" >
  <tr>
    <td style="max-width:20px;" align="center">
      Mon
    </td>
    <td style="max-width:20px;" align="center">
      Tue
    </td>
    <td style="max-width:20px;" align="center">
      Wed
    </td>
    <td style="max-width:20px;" align="center">
      Thus
    </td>
    <td style="max-width:20px;" align="center">
      Fri
    </td>
    <td style="max-width:20px;" align="center">
      Sat
    </td>
    <td style="max-width:20px;" align="center">
      Sun
    </td>
  </tr>
<% i = 0 %>  
<% calender_view(time_sheet).each do |p| %>
  <tr>
    <% p.each do |y| %>
      <td style="max-width:20px;" align="center">
        <% if y.present? %>
         <%= y.strftime("%d") %>
          <%  if y <= Date.today %>
           <%= text_field_tag 'logged_hours[]', time_sheet.logged_hours[i],:size => 2 %>
          <% else %>
           <%= text_field_tag 'logged_hours[]', time_sheet.logged_hours[i],:size => 2,:disabled => "disabled" %>
          <% end %>
          <% i = i+1 %>
        <% end %>
      </td>
     <% end %>
  </tr>
<% end %>
</table>