<h1>Time Sheets</h1>
<%= link_to 'Start Time Log', new_time_sheet_path %> For <%= DateTime.now.strftime("%B %Y") %>
<table class="table table-striped table-bordered">
  <tr>
    <%= form_for :time_sheet do |f| %>
     <%= render "time_sheet", :f => f,:time_sheet => TimeSheet.first %>
    <% end %>
  </tr>
</table>
