<h1>Time Sheets</h1>
<div class="bootstrap">
<div class="control-group row-fluid form-inline">
  <div class="controls">
    <label>Select TimeSheet For Month </label>
    <select name="ts_month" id="ts_month">
      <option> Select Month&Year</option>
    <% current_user.time_sheets.each do |pr| %>
    <option value="<%= pr.id %>"> <%= pr.start_date.strftime("%B %Y") %></option>
    <% end %>
    </select>
  </div>
</div>
<div id="ts_div">
    <%= render "time_sheet", :time_sheet => @time_sheet,:holidays => @holidays %>
</div>
</div>
<script>
 $("#ts_month").change(function(){ 
      $.ajax({
    type : 'get',
    url : "/time_sheets/"+ $(this).val()+".js" ,
    dataType : 'script'

  });
    });
</script>

