<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<fieledset>
   <legend> Enroll new employee </legend>
    <div class="bootstrap">
       <%= render 'form', :f => f %>
    </div>
</fieledset>
<% end %>